{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>{{course.course_name}}</h1>
    <p> created by {{course.user}} </p>
    
    {% if user in course.users_enrolled.all %}
        {% if user not in course.ta.all %} 
        <label for="file">Your progress: {{progress}}%</label>
        <progress id="file" value={{progress}} max="100"> {{progress}} </progress>
        <br>
        <br>
        <p>Your Marks: {{total}}%</p>
        <p>Class Mean Percentage: {{ meanofclass }}%</p>
        {% if meanofclass > total %}
            <p style="color: red;">Your class average is greater than your percentage. Please keep studying.</p>
        {% endif %}
        {% endif %}
        <a href = "{% url 'todo' course.id %}" class="btn" style="color: white; background-color:blue;"type="submit"; id="header-links" > Todo List</a> 
        <p>Course Total: {{ coursetotal }} </p>
        <p> Percentage of course covered so far: {{percentage}}%</p>
        <p> You are enrolled in this course ({{course.course_name}}) </p>
        <h5> Assignments of this course </h5>
        {% for a in assignments %}
  		<br>
        {% if user in course.ta.all %}
        <li><a href = "{% url 'viewAssignment' a.id %}" class="btn" style="color: white; background-color:blue;"type="submit"; id="header-links" > {{a.title}}</a> </li> 
  		{% else %}
  		<li><a href = "{% url 'viewAssignment' a.id %}" class="btn" style="color: white; background-color:blue;"type="submit"; id="header-links" > {{a.title}}</a> </li> 
  		{% endif %}
        {% endfor %}
        
    {% endif %}
    {%if user.is_authenticated%}  
    {% if user  not in course.users_enrolled.all and user not in course.ta.all %}
        <h5>
            <a href="{%url 'joincoursestudent' course.id %} "class="btn" style="color: white; background-color:green;"type="submit"; id="header-links" >Join the Course as a student</a>
        </h5>
        <h5>
            <a href="{%url 'joincourseta' course.id %} "class="btn" style="color: white; background-color:green;"type="submit"; id="header-links" >Join the Course as a Ta</a>
        </h5>
     {% endif %}
    {% endif %}
    <br>
    {% if user in course.users_enrolled.all %}
    {% ifequal course.creater_disable "F" %}
    <h2> Disscussion Thread</h2>
    {% for dis in discussions.all %} 
    <a href="{%url 'discthread' dis.id %} "class="btn" style="color: white; background-color:green;"type="submit"; id="header-links" >Thread {{dis.id}}</a>
    <br><br>
    {% endfor %}
    <a href="{%url 'adddiscthread' course.id %} "class="btn" style="color: white; background-color:green;"type="submit"; id="header-links" >Add Discussion Thread</a>
    {% endifequal %}{% endif %}

{% endblock %}
